name: Workflow using secrets

on:
  push:
    branches:
      - secrets

env:
  MY_SECRET: ${{ secrets.TEST_SECRET }}

jobs:
  first_job:
    name: First job deploy testing
    runs-on: ubuntu-latest

    steps:
      - name: Print secret from env
        run: |
          echo "The secret is: $MY_SECRET"

      # - name: Install nodejs
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 22.15.1

      - name: Install bunjs
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Pull code from repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          bun install
      
      - name: Build project
        run: |
          bun run build

  verify_and_send_notification:
    if: ${{ failure() }}
    needs: first_job
    name: Send notification if something went wrong
    runs-on: ubuntu-latest

    steps:
      - name: Something went wrong
        run: |
          echo "Verifying installation..."
