name: Workflow using secrets

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

env:
  MY_SECRET: ${{ secrets.TEST_SECRET }}

jobs:
  first_job:
    name: First job deploy testing
    runs-on: ubuntu-latest

    steps:
      - name: Print secret from env
        run: |
          echo "The secret is: $MY_SECRET"

      # - name: Install nodejs
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 22.15.1

      - name: Install bunjs
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Pull code from repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          bun install

      - name: Build project
        run: |
          bun run build

      - name : Upload build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist
          name: dist-artifact

  deploy:
    name: Deploy to github pages
    needs: first_job
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to github pages
        uses: actions/deploy-pages@v4
        with:
          artifact-name: dist-artifact


  verify_and_send_notification:
    if: ${{ failure() }}
    needs: first_job
    name: Send notification if something went wrong
    runs-on: ubuntu-latest

    steps:
      - name: Something went wrong
        run: |
          echo "Verifying installation..."
